/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
   Based on work by Eric Meyer:
   * meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
   
-------------------------------------------------------------- */

.ntb-treegrid-reset div, .ntb-treegrid-reset span, .ntb-treegrid-reset iframe, .ntb-treegrid-reset h1, .ntb-treegrid-reset h2, .ntb-treegrid-reset h3, .ntb-treegrid-reset h4, .ntb-treegrid-reset h5, .ntb-treegrid-reset h6, .ntb-treegrid-reset p, .ntb-treegrid-reset blockquote, .ntb-treegrid-reset pre,
.ntb-treegrid-reset a, .ntb-treegrid-reset em, .ntb-treegrid-reset font, .ntb-treegrid-reset img, .ntb-treegrid-reset strong, .ntb-treegrid-reset ol, .ntb-treegrid-reset ul, .ntb-treegrid-reset li, .ntb-treegrid-reset fieldset, .ntb-treegrid-reset form, .ntb-treegrid-reset label, 
.ntb-treegrid-reset table, .ntb-treegrid-reset caption, .ntb-treegrid-reset tbody, .ntb-treegrid-reset tfoot, .ntb-treegrid-reset thead, .ntb-treegrid-reset tr, .ntb-treegrid-reset th, .ntb-treegrid-reset td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

.ntb-treegrid-reset ol,.ntb-treegrid-reset  ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
.ntb-treegrid-reset table {
	border-collapse: separate;
	border-spacing: 0;
}

.ntb-treegrid-reset caption,.ntb-treegrid-reset th,.ntb-treegrid-reset td {
	text-align: left;
	font-weight: normal;
}

.ntb-treegrid-reset blockquote:before, .ntb-treegrid-reset blockquote:after, .ntb-treegrid-reset q:before, q:after {
	content: "";
}

.ntb-treegrid-reset blockquote, q {
	quotes: "" "";
}
